@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(1.jpg);
}
.container{
    max-width: 950px;
    width: 100%;
    background: #dab;
    border-radius: 12px;
    margin: 0 20px;
    padding: 40px 50px 40px 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}
.container .main-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;

}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container .content .list{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    margin-right: 50px;
}
.content .list label{
    height: 60px;
    width: 20%;
    /*background: #f44336; */
    font-size: 22px;
    font-weight: 500;
    border-radius: 12px;
    line-height: 60px;
    cursor: pointer;
    margin: 5px 0;
    padding-left: 25px;
    color: #f44336;
    z-index: 12;
    transition: all o.4s ease;
}
.content .list label:hover{
    color: #333;
}
#home:checked ~ .list .home,
#services:checked ~ .list .services,
#products:checked ~ .list .products,
#about:checked ~ .list .about,
#contact:checked ~ .list .contact{
    color: #f44336;
}
.content .indicator{
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background: #333;
    border-radius: 12px;
    transition: all 0.4s ease;
}
#home:checked ~ .list.indicator{
    top: 0;
}
#services:checked ~ .list.indicator{
    top: 60px;
}
#products:checked ~ .list.indicator{
    top: 120px;
}
#about:checked ~ .list.indicator{
    top: 180px;
}
#contact:checked ~ .list.indicator{
    top: 240px;
}
.container input[type="radio"]{
    display: none;
}
.container .content .text-content{
    width: 80%;
    height: 100%;

}
.content .text-content .text{
    display: none;
}
.content .text-content .home{
    display: block;
}
#home:checked ~ .text-content .home,
#services:checked ~ .text-content .services,
#products:checked ~ .text-content .products,
#about:checked ~ .text-content .about,
#contact:checked ~ .text-content .contact{
    display: block;
}
#services:checked ~ .text-content .home,
#products:checked ~ .text-content .home,
#about:checked ~ .text-content .home,
#contact:checked ~ .text-content .home{
    display: none;
}
.content .text-content .title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;

}
.content .text-content p{
    text-align: justify;

}